
.buttontext{
    position: relative;
    margin: 10px auto;
    font-size: 17px;
    width:130px;
    height:25px;
    line-height: 25px;
    border-radius: 4px;
    padding: 3px 15px;
    text-align: center;
    color: var(--black);
    -webkit-box-sizing:content-box !important;
    box-sizing: content-box !important;
}

.button {
    position: relative;
    margin: 10px auto;
    font-size: 14px;
    width:100px;
    height:25px;
    line-height: 25px;
    border-radius: 4px;
    padding: 3px 15px;
    text-align: center;
    background-color: var(--300);
    color: var(--900);
    -webkit-box-sizing:content-box !important;
    box-sizing: content-box !important;
    display: block;
    border: 1px solid var(--400);
}


.button i{
    vertical-align: middle;
    margin: auto 5px;
}

.button.inline{
    display: inline-block;
    margin: 10px 5px;
}

.button:hover {
    cursor: pointer;
    background-color: var(--600);
    color:var(--white);
}

.button.disabled {
    background-color:var(--400) !important;
}

.button.disabled:hover{
    cursor:auto !important;
    background-color:var(--400) !important;
}


.button.completed{
    color: #ffffff !important;
    background-color: var(--green400);
}

.button.completed:hover{
    background-color: var(--green500);
    cursor: auto;
    color: #ffffff;
}

.button.warning{
    color: #ffffff !important;
    background-color: var(--yellow);
}

.button.warning:hover{
    color: #ffffff !important;
    background-color: var(--yellowdark);
}

.button.error{
    color: #ffffff !important;
    background-color: var(--redlight) ;
}

.button.error:hover{
    color: #ffffff !important;
    background-color: var(--red500);
}

.loader.insidebutton{
    position: absolute;
    right: 5px;
    background: var(--300);
    width: 20px;
    margin-top: -10px;
    top: 50%;
}

.button:hover .loader.insidebutton{
    background: var(--600);
}
