/* colors */
:root {

    /*blue grey*/
    /*--primario:#78909C;
    --primariolight: #A7C0CD;
    --primariodark: #4B636E;
    */
    /*indigo*/
    /*--primario:#5C66C0;
    --primariolight: #8E99F3;
    --primariodark: #26418F;
    */

    /*orange*/
    /* --secondario: #FF9800;
     --secondariolight: #FFC947;
     --secondariodark: #C66900;
     */

    /*  GREY */
    --50: #FAFAFA;
    --100: #F5F5F5;
    --150: #e5e5e5;
    --200: #EEEEEE;
    --300: #E0E0E0;
    --400: #BDBDBD;
    --500: #9E9E9E;
    --600: #757575;
    --700: #616161;
    --800: #424242;
    --900: #212121;


    --black: #000;
    --white: #fff;
    
    --green500: #4caf50;
    --green500light: #80e27e;
    --green500dark: #087f23;
    --green400: #66bb6a;
    --green400light:#98EE99;
    --green400dark: #338a3e;
    --green300: #81c784;
    --green300light: #b2fab4;
    --green300dark: #519657;

    --red500: #F44336;
    --red400: #EF5350;
    --redlight: #FF7961;

    --yellow: #FCBF83;
    --yellowdark: #F98f24;
    --purple500: #9c27b0;
    --blue500: #2196f3;
    --cyan500: #00bcd4;
    --lightgreen500: #8bc34a;
    --amber500: #ffc107;
    --brown500: #795548;

    --colorOpen: var(--red500);
    --colorAssigned: var(--purple500);
    --colorCompleted: var(--blue500);
    --colorClosed: var(--green500);
}

.borderOpen{
     border: 2px solid var(--colorOpen);
 }
.textOpen{
    color: var(--colorOpen);
}
.dotOpen{
    background: var(--colorOpen);
}

.borderAssigned{
    border: 2px solid var(--colorAssigned) ;
}
.textAssigned{
    color:  var(--colorAssigned) ;
}
.dotAssigned{
    background: var(--colorAssigned);
}

.borderCompleted{
    border: 2px solid var(--colorCompleted);
}
.textCompleted{
    color:  var(--colorCompleted);
}
.dotCompleted{
    background: var(--colorCompleted);
}

.borderClosed{
    border: 2px solid var(--colorClosed);
}
.textClosed{
    color:  var(--colorClosed);
}
.dotClosed{
    background: var(--colorClosed);
}






