#header, #footer{
    display: none;
}

#main-container{
    height: 100%;
    min-height: 90%;
    float: left;
}

#container{
    height: 100%;
    min-height: 100%;
    padding: 0;
    float: left;
    margin: 0 5%;
    width: 90%;
}

.squareinfo{
    position: relative;
    display: block;
    width: auto;
    height: 40%;
    margin: 10% auto;
    text-align: center;
}

.squareinfo .textinfo{
    font-size: 46px;
    margin: auto;
}

.squareinfo .numinfo{
    font-size: 250px;
}

.numinfo.red{
    color: var(--red500);
}

.numinfo.green{
    color: var(--green500);
}