
/* Handle font */
@font-face {
    font-family: Roboto-regular;
    src: url(../font/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-bold;
    src: url(../font/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-italic;
    src: url(../font/Roboto/Roboto-Italic.ttf);
}
@font-face {
    font-family: Roboto-medium;
    src: url(../font/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto-thin;
    src: url(../font/Roboto/Roboto-Thin.ttf);
}
@font-face {
    font-family: Roboto-thinitalic;
    src: url(../font/Roboto/Roboto-ThinItalic.ttf);
}

@font-face {
    font-family: Roboto-light;
    src: url(../font/Roboto/Roboto-Light.ttf);
}

/*kanit*/
@font-face {
    font-family: kanit-thinitalic;
    src: url(../font/kanit/Kanit-ThinItalic.ttf);
}
@font-face {
    font-family: kanit-thin;
    src: url(../font/kanit/Kanit-Thin.ttf);
}
@font-face {
    font-family: kanit-regular;
    src: url(../font/kanit/Kanit-Regular.ttf);
}
@font-face {
    font-family: kanit-medium;
    src: url(../font/kanit/Kanit-Medium.ttf);
}
@font-face {
    font-family: kanit-italic;
    src: url(../font/kanit/Kanit-Italic.ttf);
}
@font-face {
    font-family: kanit-bold;
    src: url(../font/kanit/Kanit-Bold.ttf);
}
@font-face {
    font-family: kanit-extralight;
    src: url(../font/kanit/Kanit-ExtraLight.ttf);
}
@font-face {
    font-family: kanit-light;
    src: url(../font/kanit/Kanit-Light.ttf);
}


/*montserrat*/
@font-face {
    font-family: montserrat-thinitalic;
    src: url(../font/Montserrat/Montserrat-ThinItalic.ttf);
}
@font-face {
    font-family: montserrat-thin;
    src: url(../font/Montserrat/Montserrat-Thin.ttf);
}
@font-face {
    font-family: montserrat-regular;
    src: url(../font/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: montserrat-medium;
    src: url(../font/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family: montserrat-italic;
    src: url(../font/Montserrat/Montserrat-Italic.ttf);
}
@font-face {
    font-family: montserrat-bold;
    src: url(../font/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: montserrat-extralight;
    src: url(../font/Montserrat/Montserrat-ExtraLight.ttf);
}
@font-face {
    font-family: montserrat-light;
    src: url(../font/Montserrat/Montserrat-Light.ttf);
}


/*Oswald*/
@font-face {
    font-family: oswald-regular;
    src: url(../font/Oswald/Oswald-Regular.ttf);
}
@font-face {
    font-family: oswald-medium;
    src: url(../font/Oswald/Oswald-Medium.ttf);
}
@font-face {
    font-family: oswald-bold;
    src: url(../font/Oswald/Oswald-Bold.ttf);
}
@font-face {
    font-family: oswald-extralight;
    src: url(../font/Oswald/Oswald-ExtraLight.ttf);
}
@font-face {
    font-family: oswald-light;
    src: url(../font/Oswald/Oswald-Light.ttf);
}


/*raleway*/
@font-face {
    font-family: raleway-thinitalic;
    src: url(../font/Montserrat/Montserrat-ThinItalic.ttf);
}
@font-face {
    font-family: raleway-thin;
    src: url(../font/Montserrat/Montserrat-Thin.ttf);
}
@font-face {
    font-family: raleway-regular;
    src: url(../font/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: raleway-medium;
    src: url(../font/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family: raleway-italic;
    src: url(../font/Montserrat/Montserrat-Italic.ttf);
}
@font-face {
    font-family: raleway-bold;
    src: url(../font/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: raleway-extralight;
    src: url(../font/Montserrat/Montserrat-ExtraLight.ttf);
}
@font-face {
    font-family: raleway-light;
    src: url(../font/Montserrat/Montserrat-Light.ttf);
}




