@import url("colors.css");
@import url("fonts.css");
@import url("icons.css");
@import url("buttons.css");
@import url("input.css");
@import url("modal.css");
@import url("header.css");

html{
    display: block;
    margin: 0;
    width:100%;
    height: 100%;
    padding:0;
}

body{
    overflow: auto;
    font-family: Roboto-regular;
    margin: 0;
    width:100%;
    height: 100%;
    background:var(--200);
}

/* general */
#overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--400);
    opacity: 0.6;
    z-index: 100;
}
.hide{
    display:none;
}
.show-inline{
    display:inline-block;
}
.show{
    display:block;
}
a, div {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
a{
    text-decoration: none !important;
}
a:hover{
    text-decoration: none !important;
    cursor: pointer;
}


::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--400);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--600);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--900);
    cursor: pointer;
}

/* PAGE */
#main-container{
    width:100%;
    position: relative;
    display: block;
    margin: 0;
    background:var(--200);
    min-height: calc(100% - 120px);
    height: auto;
}

#container{
    position: relative;
    text-align: left;
    width: 95%;
    margin: 0 auto;
    display: block;
    padding-bottom: 50px;
    min-height: calc(100% - 60px);
    height:100%;
}

.container-title {
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 20px 0 10px 0;
    font-size: 24px;
    color: var(--800);
    position: relative;
    font-family: Roboto-light;
}

#sidebar{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    min-height: 600px;
    margin: 10px 10px 0 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: var(--white);
    border: 1px solid #d2d2d2;
    text-align: center;
    position: relative;
}

.sidebar-title {
    width: 90%;
    margin: 10px auto;
    font-size: 18px;
    height: 24px;
    line-height: 24px;
    display: block;
    color: var(--800);
    font-family: Roboto-regular;
}

.right-cont{
    position: relative;
    display: inline-block;
    margin: 10px 0;
    width: calc(70% - 20px);
    vertical-align: top;
    background: var(--white);
    border-radius: 4px;
    border: 1px solid var(--300);
    height: 600px;
}
/*
.textFileForm{
    width: 80%;
    margin:20px auto;
}


.loadForm{
    width:400px;
    height:500px;
    z-index: 300;
}

.thumbnail{
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    max-height: 230px;
    max-width: 300px;
}

.drop{
    display: block;
    height: calc(100% - 70px);
    position: relative;
}

#drop form{
    height: 100%;
}

.loadedfile{
    height: 280px;
    position: relative;
    margin: auto;
}

.loadedfile i{
    font-size: 200px;
    line-height: 300px;
    color: var(--400);
}

.imagecont{
    width:100%;
    vertical-align:middle;
}

.imgcontainer{
    margin:0px;
}

.imgcontainer.mini{
    margin:0px auto;
    height: 200px;
    overflow: hidden;
    width: 200px;
}

.loader{
    position: absolute;
    right: 10px;
    top:5px;
}

.small{
    width: 30px;
}
*/

#loader{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.6;
    z-index: 340;
    text-align: center;
    background: var(--800);
}

#loader img{
    width: 80px;
    height: 80px;
    position: relative;
    margin: 200px auto;
    vertical-align: middle;
}

/*footer*/
#footer{
    height: 40px;
    padding: 10px 0px;
    background: var(--500);
    width:100%;
    text-align: center;
    color: var(--white);
    position: relative;
    font-family: Roboto-medium;

}

#footer a{
    color: var(--200);
    font-size: 24px;
    position: absolute;
    right: 5%;
    top: 0;
    line-height: 60px;
}

#footer a:hover{
    cursor: pointer;
    color: var(--white);
}

#footertext{
    width:1000px;
    position: relative;
    margin:auto;
    text-align: left;
}




@media screen and (max-width: 430px) {

}
