#header {
    display: block;
    width: 100%;
    height: 59px;
    text-align: center;
    background-color: var(--600);
    font-size: 2.3em;
    margin: 0;
    color: var(--white);
    border-bottom: 1px solid var(--white);

    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    top: 0;
    left: 0;
    z-index: 99;
}

.normalContentWidth {
    width: 95%;
    margin: 0 auto;
    height: 100%;
}

#title{
    position: relative;
    width:33%;
    margin: 0 0 0 1%;
    height: 100%;
    float: left;
    display: inline-block;
    line-height:60px;
    text-align: left;
    font-size: calc(2vw + 1vh);
}

#title a{
    color: var(--200);
    text-transform: unset;
    vertical-align: middle;
    height: 100%;
    float: left;
    font-family: Roboto-medium;
    margin-right: 2.5vw;
    font-size: 2.0vw;
}

#title a:hover{
    color: var(--white);
}

#searchbar-cont{
    display: inline-block;
    margin: auto;
    text-align: center;
    height: 100%;
    width: 28%;
}

#searchbar {
    height: 56%;
    background-color: #353b48;
    border-radius: 30px;
    width: 90%;
    margin: 13px auto;
    position: relative;
}

#search_input {
    padding: 0 8px;
    min-width: 150px;
    width: 80%;
    color: white;
    border: 0;
    margin: 0;
    outline: 0;
    background: none;
    line-height: unset;
    height: 100%;
    float: left;
}

#search_input::placeholder {
    color: var(--300);
}

#search_box{
    width: 100%;
    height: auto;
    max-height: 400px;
    overflow-y: auto;
    position: relative;
    background: var(--800);
    border-radius: 4px;
    z-index: 200;
    box-shadow: 0 1px 3px 0 var(--500);
    border: 1px solid var(--900);
    margin: auto;
}

#search_box ul{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    position: relative;
}

#search_box li{
    height: 30px;
    width: 100%;
    line-height: 30px;
    font-size: 15px;
    color: var(--white);
    border-radius: 4px;
    border-bottom: 1px solid var(--600);
    position: relative;
}

#search_box li a{
    position: relative;
    line-height: 30px;
    font-size: 15px;
    color: var(--white);
    width: 90%;
    display: block;
    white-space: nowrap;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dotstatus{
    width: 10px;
    height: 10px;
    position: absolute;
    right: 5px;
    top: 10px;
    border-radius: 5px;
}

#search_box li:hover, #search_box li a:hover{
    background: var(--500);
    cursor: pointer;
}

#search_icon{
    background: white;
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--500);
    margin-top:2px;
    position: absolute;
    right: 0;
}

#search_icon:hover{
    color: var(--900);
}

#search_icon i {
    font-size: 17px;
}

#ico-cont{
    position: relative;
    width:38%;
    margin: 0;
    height: 100%;
    float: right;
    display: inline-block;
    vertical-align: top;
}

.header-ico {
    width: 120px;
    position: relative;
    height: 100%;
    color: var(--300);
    display: inline-block;
    margin:0 0.5%;
}

.header-ico:hover{
    background: var(--500);
}

.header-ico i{
    font-size:24px;
    vertical-align: bottom;
    color: var(--white);

}
.header-ico:hover{
    color: var(--white);
    cursor: pointer;
}
#add-ticket, #add-ticket .cont-icon span{
    width: 90px;
}

#manage-users, #manage-users .cont-icon span{
    width: 100px;
}

#menu{
    margin-right:0;
}

.header-ico .cont-icon{
    height: 55px;
    vertical-align: top;
    font-family: Roboto-medium;
}

.header-ico .cont-icon i{
    font-size: 20px;
    height: 25px;
    display: block;
    vertical-align: bottom;
    line-height: 25px;
    margin-top: 5px;
}

.header-ico .cont-icon span{
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    display: block;

    white-space: nowrap;
    overflow: hidden;
    width: 120px;
    text-overflow: ellipsis;
}


.header-list{
    position:absolute;
    top: 59px;
    left: -120px;
    width: 240px;
    color: var(--white);
    z-index: 100;
    max-height: 310px !important;
    overflow: auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.header-list ul{
    width: 100%;
    padding: 0;
    height: 100%;
    margin: 0px;
    list-style: none;
    overflow: auto;
}

.header-list li{
    width: auto;
    padding:0px 10px 0px 30px;
    text-align: left;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid var(--600);
    background: var(--600);
}

.header-list li a{
    color:var(--white);
    text-decoration: none;
    text-align: left;
    width: 100%;
    display: block;
}

.header-list li:first-child{
    border-top:1px solid var(--800);
    border-bottom: 1px solid var(--800);
}

.header-list li:hover{
    background: var(--800);
}

.header-list li i{
    font-size:16px;
    vertical-align: middle;
}


@media screen and (max-width: 450px) {
    #title{
        width: 50%;
    }
    #title a {
        font-size: 20px;
    }
}