#main-container {
    background: var(--white);
}

.form-column{
    width: 33%;
    position: relative;
    display: inline-block;
    margin: 10px auto;
    text-align: center;
    vertical-align: top;
}
.form-column.two{
    width: 50%;
}

.form-column label{
    text-align: center;
    margin-top: 20px;
}

.form-column input{
    margin:10px auto;
}

#labeldoorstatus{
    margin-left: 20px;
}

#doorstatus{
	font-size:12px;
    width:80px;
    margin-left: 20px;
}

input.wide{
    width:120px;
}

#updateButton{
    width: 170px;
    font-size: 17px;
    line-height: 30px;
    height: 30px;
}

#settings-form{
    border-top: 1px solid var(--500);
    margin-top: 40px;
}

#adminSetting{
	border-top: 1px solid var(--500);
}
#buttonCont{
    margin-bottom:20px;
    text-align: center;
}
#status{
    border-top: 1px solid var(--500);
    margin: 20px auto;
    text-align: center;
}


.button.set{
    position: relative;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    width: 160px;
    margin: 40px 20px;
    display: inline-block;
}

.led {
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background: linear-gradient(var(--200), var(--400));
    margin-left: 20px;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
}

.led-title {
    margin-left: 10px;
    line-height: 16px;
    font-size: 13px;
    display: inline-block;
    width: auto;
}

.led-cont{
    height: 20px;
    display: inline-block;
    width: 100%;
}

.led.on.green, .ledg{
    background: linear-gradient(var(--green400light), var(--green400));
}

.led.on.red, #led-em.on{
    background:linear-gradient(var(--red400), var(--red500));
}

#led-em{
    position: absolute;
    left: 0px;
    top: 5px;
    background:var(--400);
    margin-left: 20px;
}

#status .form-column, #status .inputlabel{
    text-align: left;
}

@media screen and (max-width: 450px) {
    .form-column.wide input{
        width:85px;
    }

    #footertext{
        width: 90%;
        margin: auto 5%;
        font-size: 12px;
    }

    input.wide{
        width: 90px;
    }

    .led{
        margin-left:0;
    }

    .led-title{
        margin-left: 5px;
        width: 75px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

}

