    
.inputcontainer{
    position: relative;
    margin: 10px auto;
}

input{
    width: 40px;
    font-size: 13px;
    position: relative;
    box-shadow: none;
    border-radius: 0;
    padding: 0 5px;
    line-height: 20px;
    height: 20px;
    background: var(--white);
    border: 1px solid var(--500);
    text-align: center;
}

input:disabled{
	background:var(--200);
}

input.disabled{
    color: var(--black)!important;
}

.inputlabel{
    text-align: left;
    width: 100%;
    color: var(--black);
    margin: auto;
    font-size: 13px;
}

input:focus {
    outline: none;
    border-bottom: 1px solid var(--black);
}

.white-icon {
    color:var(--white);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

input[type="file"]{
    display:none;
}

input.error, textarea.error, select.error {
    border-bottom: 5px solid var(--red500);
}

label{
    margin: 5px auto;
    display: block;
    width: 50%;
    text-align: center;
}
select{
    width: 150px;
    height: 30px;
    margin: 10px auto;
    position: relative;
    display: block;
    border: none;
    border-bottom: 1px solid var(--500);
    background: var(--white);
}

textarea{
    resize: none;
}
