.modal{
    position: absolute; /* Stay in place */
    z-index: 305; /* Sit on top */
    left: 0;
    top: 0;
    background: var(--white);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-align: center;
    height: auto;
    width: 400px;
    display: block;
}

.modaltitle{
    width: 100%;
    margin: 3% auto;
    position: relative;
    font-size: 30px;
    text-align: center;
    height: 10%;
}

.modal.close{
    display: none;
}

.modal.open{
    display: block;
    opacity: 1;
}

.modal input.error {
    border-bottom: 5px solid var(--red500);
}

.closemodal{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 42px;
    color: var(--500);
}

.closemodal i{
    vertical-align: unset;
}

.closemodal:hover{
    cursor: pointer;
}

.msgOk{
    color: var(--green500);
    text-align: center;
    margin-bottom: 40px;
    margin: auto auto 40px auto;
    width: 90%;
}

.msgKo{
    color: var(--red500);
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.textloginlink {
    color: var(--400);
    font-size: 13px;
    margin-top: 20px;
}

.textloginlink:hover {
    color: var(--600);
    cursor: pointer;
}

.modal.close{
    display: none;
}

.modal.open{
    display: block;
    opacity: 1;
}

/* finestra login */
/* MODAL LOGIN */
#login-modal {
    position: absolute; /* Stay in place */
    z-index: 200; /* Sit on top */
    left: 0;
    top: 0;
    width: 400px; /* Full width */
    height: 330px;
    padding: 10px;
    overflow: auto; /* Enable scroll if needed */
    font-family: Roboto-medium;
    background: var(--white);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#login-modal input{
    width: 300px;
}

#login-title{
    padding: 20px 10px;
    height: 70px;
    font-size: 30px;
    line-height: 30px;
    color: var(--700);
}

.inputlogin{
    margin:20px;
    text-align: center;
    border-bottom: 1px solid var(--500)
}

#login-modal input.error {
    border-bottom: 1px solid var(--red400);
}

#closelogin{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 42px;
    color: var(--400)
}

#closelogin i{
    vertical-align: unset;
}

#closelogin:hover{
    cursor: pointer;
    color: var(--700);
    background: var(--200);
}

#responseError, .responseError{
    height: 40px;
    overflow: auto;
    width: 90%;
    margin: auto;
    line-height: 20px;
}

.modalforward{
    position: absolute;
    top:20px;
    right:25px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    z-index: 400;
}

.modalback{
    position: absolute;
    top:20px;
    left:25px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    z-index: 300;
}

.modalclose{
    position: absolute;
    top:5px;
    right:5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    z-index: 300;
}

.modalback i,
.modalforward i{
    font-size:40px;
    color:var(--400);
}

.modalback i:hover,
.modalforward i:hover{
    cursor: pointer;
    color: var(--800);
}

.modalclose:hover{
    cursor:pointer;
}

#forgot-modal {
    height: 270px;
}

#signin-form{
    height: 495px;
}

#signin-form #selectcont{
    margin:10px 0 20px 0;
}
#signin-form #selectcont select{
    width: 200px;
}


/*confirm box */
.confirmation{
    width: 360px;
    height:100px;
    padding: 10px 10px;
    position: absolute;
    background-color: var(--200);
    border-radius: 2px;
    border: var(--200) 1px solid;
}

.confirmation .titileConf{
    width: auto;
    position: relative;
    margin: auto;
    height: auto;
    line-height: 30px;
    font-weight: 500;
    color: var(--800);
    font-family: Roboto-regular;
}

.confirmation .buttons{
    width: auto;
    position: relative;
    margin: auto;
    height: auto;
}

.confirmation .buttons div{
    width: auto;
    position: relative;
    margin: 0 15px;
    padding: 10px;
    height: auto;
    display: inline-block;
}

.confirmation .buttons .greenconfirm  {
    color:var(--green500light);
}

.confirmation .buttons .redconfirm  {
    color:var(--redlight);
}

.confirmation .buttons .greenconfirm:hover{
    cursor: pointer;
    color:var(--green500);
}

.confirmation .buttons .redconfirm:hover{
    cursor: pointer;
    color:var(--red500);
}



/*
eventuale finestra

.square{
    width: 300px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 10px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    background: var(--white);
    color: var(--black);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 100;
}

.square:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.squareheader{
    position:relative;
    height:50px;
    margin:0;
    width:100%;
    color:var(--black);
    border-bottom: 1px solid var(--400);
    overflow: auto;
    text-transform: none;
}

#square-config .squareheader{
    text-transform: capitalize;
}

.squaretitle{
    position: relative;
    width: 70%;
    font-size:18px;
    line-height:18px;
    height: auto;
    padding:15px 0;
    margin:0 0 0 15%;
    display: inline-block;
    float: left;
}

.squaretitle.full{
    width: 100%;
}

.closesquare{
    display: inline-block;
    margin:0;
    width: 15%;
    float: left;
    height: 100%;
    color: var(--600);
    line-height: 47px;
}

.closesquare:hover{
    cursor: pointer;
    color: var(--900);
    background: var(--200);
}
 */