
/* colors */
:root {

    /*blue grey*/
    /*--primario:#78909C;
    --primariolight: #A7C0CD;
    --primariodark: #4B636E;
    */
    /*indigo*/
    /*--primario:#5C66C0;
    --primariolight: #8E99F3;
    --primariodark: #26418F;
    */

    /*orange*/
    /* --secondario: #FF9800;
     --secondariolight: #FFC947;
     --secondariodark: #C66900;
     */

    /*  GREY */
    --gr50: #FAFAFA;
    --gr100: #F5F5F5;
    --gr200: #EEEEEE;
    --gr300: #E0E0E0;
    --gr300light: #ffffff;
    --gr300dark: #aeaeae;
    --gr400: #BDBDBD;
    --gr400dark: #8d8d8d;
    --gr400light: #efefef;
    --gr500light: #cfcfcf;
    --gr500dark: #707070;
    --gr500: #9E9E9E;
    --gr600: #757575;
    --gr700: #616161;
    --gr800: #424242;
    --gr900: #212121;

    --greydark:#bcbcbc;
    --greydarker:#707070;
    --boxshadow:#b7bfd3;

    /* BLUE */
    --bluedark:#002171;
    --bluelight:#5472d3;
    --bluedarkissimo: #000051;
    --blue:#0d47a1;
    --bluesec:#e3f2fd;
    --blueseclight:#ffffff;
    --bluesecdark:#b1bfca;

    --black:#000;
    --white:#fff;

    --green500: #4caf50;
    --green500light: #80e27e;
    --green500dark: #087f23;
    --green400: #66bb6a;
    --green400light:#98EE99;
    --green400dark: #338a3e;
    --green300: #81c784;
    --green300light: #b2fab4;
    --green300dark: #519657;

    --red500: #F44336;
    --red500light: #ff7961;
    --red500dark: #ba000d;
    --red400:#EF5350;
    --red400light: #ff867c;
    --red4900dark: #b61827;

    --yellow: #F9A825;
}

/* Handle font */
@font-face {
    font-family: Roboto-regular;
    src: url(../font/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-bold;
    src: url(../font/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-italic;
    src: url(../font/Roboto/Roboto-Italic.ttf);
}
@font-face {
    font-family: Roboto-medium;
    src: url(../font/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto-thin;
    src: url(../font/Roboto/Roboto-Thin.ttf);
}
@font-face {
    font-family: Roboto-thinitalic;
    src: url(../font/Roboto/Roboto-ThinItalic.ttf);
}
/*kanit*/
@font-face {
    font-family: kanit-thinitalic;
    src: url(../font/kanit/Kanit-ThinItalic.ttf);
}
@font-face {
    font-family: kanit-thin;
    src: url(../font/kanit/Kanit-Thin.ttf);
}
@font-face {
    font-family: kanit-regular;
    src: url(../font/kanit/Kanit-Regular.ttf);
}
@font-face {
    font-family: kanit-medium;
    src: url(../font/kanit/Kanit-Medium.ttf);
}
@font-face {
    font-family: kanit-italic;
    src: url(../font/kanit/Kanit-Italic.ttf);
}
@font-face {
    font-family: kanit-bold;
    src: url(../font/kanit/Kanit-Bold.ttf);
}
@font-face {
    font-family: kanit-extralight;
    src: url(../font/kanit/Kanit-ExtraLight.ttf);
}
@font-face {
    font-family: kanit-light;
    src: url(../font/kanit/Kanit-Light.ttf);
}

/* Hanlde icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../font/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../font/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../font/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../font/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: middle;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-16 { font-size: 16px; line-height: unset;}
.material-icons.md-18 { font-size: 18px; line-height: unset;}
.material-icons.md-24 { font-size: 24px; line-height: unset;}
.material-icons.md-30 { font-size: 30px; line-height: unset; width: 30px;}
.material-icons.md-36 { font-size: 36px; line-height: unset;}
.material-icons.md-48 { font-size: 48px; line-height: unset;}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html, body{
    display: block;
    margin: 0;
    width:100%;
    height:100%;
    overflow:auto;
    padding:0;
    font-family: kanit-regular, sans-serif;
    color: var(--black);
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

/*header*/
#header {
    display: block;
    width: 100%;
    height: 60px;
    text-align: center;
    position: relative;
    background-color: var(--blue);
    font-size: 36px;
    font-family: kanit-medium;
    margin: 0;
    color: var(--white);
}


/*

#menu, #gohome{
    width: 50px;
    position: absolute;
    left: 5%;
    top:0;
    height: 100%;
    color: var(--greydark);
}

#menu i, #gohome i{
    vertical-align: middle;
}

#menu:hover, #gohome:hover{
    color: var(--white);
    cursor: pointer;
}
*/

#title{
    position: relative;
    width:100%;
    height: 100%;
    line-height: 60px;
}

#title img{
    width: auto;
    margin-left: 10px;
    height: 40px;
    margin-top: 10px;
    vertical-align: top;
}

#title a{
    color: var(--white);
    text-transform: unset;
    vertical-align: middle;
    font-size: 1.1em;
    line-height: 100%;
}

/* general */

a:hover{
    text-decoration: none;
    cursor: pointer;
}

#main-container{
    width: 79%;
    position: relative;
    min-height: calc(100% - 120px);
    height: auto;
    display: block;
    vertical-align: top;
    margin: 0 auto;
    background: var(--white);
    color: var(--gr600);
    text-align: center;
    padding-top: 2%;
}


#footer{
    display: block;
    height: 60px;
    padding: 10px;
    background: var(--blue);
    width: 100%;
    text-align: center;
    color: var(--white);
    font-size: 14px;
    position: relative;
}

#footertext{
    width:96%;
    position: relative;
    margin:auto;
    text-align: left;
}

#overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--greydarker);
    opacity: 0.8;
    z-index: 300;
}

#erroreBlue{
    color: var(--red500);
    font-size: 26px;
    width: auto;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.button{
    width: 180px;
    height: 35px;
    line-height: 35px;
    background: linear-gradient(var(--gr300light), var(--gr300));
    color: var(--gr700);
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    margin: 10px auto 10px 10px;
    border: 1px solid var(--gr300);
    cursor:default;
}

.button:hover{
    cursor: pointer;
    background: linear-gradient(var(--gr400light), var(--gr400));
    color: var(--gr800);
    border: 1px solid var(--gr500);
}

.redbutton{
    background: linear-gradient(var(--red400light), var(--red400));
}

.redbutton:hover{
    background: linear-gradient(var(--red500light), var(--red500));
}

.activebutton{
    background: linear-gradient(var(--gr500), var(--gr600));
    color: var(--white);
}

.activebutton:hover{
    background: linear-gradient(var(--gr600), var(--gr700));
    color: var(--white);
}


.square{
    width: 300px;
    height: auto;
    position: relative;
    margin: 10px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    background: var(--white);
    color: var(--bluedarkissimo);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 100;
}

.square.error {
    background: var(--red400);
}
/*
.square:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
*/
.squaretitle{
    position: relative;
    width: 80%;
    margin:0 auto;
    font-size:18px;
    line-height:18px;
    height: 40px;
    padding:15px 0;
}


.led-cont{
    width: 50%;
    display: inline-block;
    margin:5px auto;
    height: 30px;
    text-align: left;
}

.led{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: linear-gradient(var(--gr200), var(--gr400));
    margin-left: 30px;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
}

.led.on{
    background: linear-gradient(var(--green400light), var(--green400));
    box-shadow: 1px 2px 2px var(--gr300);
}

.led.off{
    background: linear-gradient(var(--red400light), var(--red400));
    box-shadow: 1px 2px 2px var(--gr300);
}

.ledtext{
    width: auto;
    font-size:15px;
    display: inline-block;
    line-height: 30px;
    margin-left: 10px;
}

.battery-cont{
    display: inline-block;
    width: auto;
    height: 20px;
    margin: 10px auto 20px auto;
}

.battery-cont i{
    font-size:20px;
    vertical-align: middle;
}

.batteryInfo{
    display: inline-block;
    margin-left: 5px;
    line-height: 20px;
}

#listCont{
    width: 90%;
    padding: 0;
    margin: 20px auto;
    list-style:none;
}

#listCont li{
    width: 80%;
    line-height: 30px;
    height: auto;
    font-size: 18px;
    margin: 10px auto;
    border-radius: 4px;
    background: var(--green500);
    color: var(--white);

}

#listCont li.out{
    background-color: #0d47a1;
}

#listCont li.error{
    background:var(--red500);
}